
h1 {
    font-style: oblique;
    color: maroon;
    padding: auto;
    position: relative;
}

table, th, tr{
    border: 5px solid black;
    border-collapse: collapse;
    position: center;
    margin: auto;
}

body{
    background-image: url("http://tdiw-a1.deic-docencia.uab.cat/img/fondo.jpg");
    background-repeat: repeat;
}

.right{
    float: right;
    color: blue;
}