<!DOCTYPE html>
<html>
<head>
	<title>PC-Sales</title>
	<meta charset="utf-8">
</head>
<header><a href="http://tdiw-a1.deic-docencia.uab.cat/">PC-Sales</a></header>
<body>
<section>
        <table border="2" valign="middle" width="50%">
            <tr>
                <th><a href="http://tdiw-a1.deic-docencia.uab.cat/Vista/html/producte.html"><h2>ASUS Zenbook 3</h2></a></th>
            </tr>
            <tr>
                <th><a href="http://tdiw-a1.deic-docencia.uab.cat/Vista/html/producte.html"><h2>ASUS Republic of Gamers</h2></a></th>
            </tr>
            <tr>
                <th><a href="http://tdiw-a1.deic-docencia.uab.cat/Vista/html/producte.html"><h2>ASUS Zenbook 360</h2></a></th>
            </tr>
        </table>
    </section>

</body>
</html>